* {
    box-sizing: border-box;
  }

  body {
    background-color: #8A2BE2;
    /* background-color: #301934; */
    /* font-family: */
    margin: 0;
  }

  header {
    color: #FFF8E7;
    text-align: center;
    font-size: 40px;
  }

  #drop-down {
    color: #FFF8E7;
  }

  h1 {
    display: flex;
  }
  
  section#display-correct-guess {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    /* position: relative;
    z-index: -1; */
  }
  section#abc-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* position: absolute;
    z-index: 1; */
    
  }

  section#display-wrong-guess {
    display: flex;
    /* align-items: center;
    justify-content: center; */
  }
